src/main/mule/all.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration-properties file="properties.yaml" />

    <http:listener-config name="http-conf">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="api-root">
        <http:listener path="/" config-ref="http-conf">
            <http:response statusCode="200" />
            <http:error-response statusCode="500">
                <http:body>DOWN</http:body>
            </http:error-response>
        </http:listener>

        <set-payload value="#[output text/plain --- 'UP']" />
    </flow>

</mule>
