src/main/mule/logging-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="api-logdemo">
        <http:listener path="/logdemo" allowedMethods="GET" config-ref="http-conf" />
        
        <set-variable variableName="name" value="#[message.attributes.queryParams['name']]" />
        <choice>
            <when expression='#[vars.name != null]'>
                <set-payload value="#[output text/plain --- 'Hi ' ++ vars.name ++ '! We received your request at '  ++ now()]" />
                <logger message="#[payload]" />
            </when>
            <otherwise>
                <set-payload value="#[output text/plain --- 'Hey there! We received your request at '  ++ now()]" />
                <logger message="#['Anonymous request received from ' ++ (server.ip default '') ++  ' at ' ++ now()]" />
            </otherwise>
        </choice>
    </flow>

</mule>