src/main/mule/webui.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="webui-css">
        <http:listener path="/css/*" allowedMethods="GET" config-ref="http-conf" />

        <http:load-static-resource resourceBasePath="#['$(mule.home)/apps/$(app.name)/web/css']" />
    </flow>

    <flow name="webui-js">
        <http:listener path="/js/*" allowedMethods="GET" config-ref="http-conf" />

        <http:load-static-resource resourceBasePath="#['$(mule.home)/apps/$(app.name)/web/js']" />
    </flow>

</mule>
